.punchcard {
	/*
	 * https://stackoverflow.com/questions/3559781/google-chrome-extensions-cant-load-local-images-with-css
	 */
	background-image: url(chrome-extension://__MSG_@@extension_id__/background.png);
	background-repeat: no-repeat;
	width: 730px;
	height: 401px;
	margin: 0px;
}

.punchcard table {
	position: relative;
	left: 65px;
}

.punchcard tr {
	height: 53px;
}

.punchcard tr:last-of-type {
	display: none;
}

/*
.punchcard th {
	display: none;
}
*/

.punchcard td {
	width: 27px;
}

.punchcard div {
	margin: auto;
	background-color: #444444;
	border-radius: 50%;
}